@charset "ISO-8859-1";

.main-style{
	width: 100%;
	height: 10rem;
	display: grid;
	grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px;
}
.logo-style{
	display: grid;
	grid-column: 2/3;
	justify-content: start;
	align-items: center;
}
.menu-style{
	grid-column: 3/5;
}
.tab-style{
	height: 10rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.title-style{
	font-size: 2.5rem;
	font-weight: 400;
	text-transform: uppercase;
}
span{
/*	font-size: 3.5rem;*/
}
li{
	font-size: 1.8rem;
}
li a{
	text-transform: capitalize;
	color: rgba(0, 0, 3, 0.8);
	transition: 0.5s;
}

h1{
text-align: center;
font-size: 40px;
margin: 10px;
}

.quote{
    background: cyan;
	align-items: center;
	padding: 35px;
	border-radius: 5px;
	width: 95%;
	margin-left: 40px;
	margin-top: 30px;
}

.quote a{
    display: inline-flex;
    margin-top: 5px;
    border-radius: 5rem;
    background: yellow;
    color: black;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0;
    margin-left: 0px;
    width:100px;
    justify-content: center;
	font-display: center;
}

/* Booking detail */

.personal{
	background: cyan;
	display: inline-block;
	text-align: center;
	padding: 10px;
	font-size: 14px;
	margin-top: 20px;
	width: 97%;
	margin-left: 17px;
	border-radius: 5px;
}
.personal h2{
	font-size: 20px;
	
}





.personal .form-table td{
	display: inline-flex;
	margin-bottom: 20px;
	margin: 20px;
	margin-bottom: 5px;
}

.personal .form-table input{
	/* width: calc(20%); */
}

.booking{
	background: cyan;
	display: block;
	text-align: center;
	padding: 10px;
	font-size: 14px;
	margin-top: 20px;
	width: 97%;
	margin-left: 17px;
	border-radius: 5px;
	height: 690px;
	margin-bottom: 60px;
	
}
.booking .form-table td{
	display: inline-block;
	
	margin: 10px;
	margin-bottom: 10px;
}

 
 