@charset "ISO-8859-1";
a{
	text-decoration: none;
}
.view_item img{
	width: 150px;
}

.wrapper{
	width: 800px;
	margin: 20px auto;
}

.links{
	margin-bottom: 25px;
	background: #fff;
	padding: 15px;
	border-radius: 3px;
}

.links ul{
	display: flex;
	justify-content: center;
}

.links ul li{
	margin: 0 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 20px;
	cursor: pointer;
}

.links ul li:hover,
.links ul li.active{
	color: #4abd3e;
}

.view_main{
	background: #fff;
	border-radius: 3px;
	padding: 15px;
}

.list-view .view_item {
	background: #fff;
	border: 2px solid #e2efe1; 
	margin: 20px;
	padding: 20px 20px;
	display: flex;
	align-items: center;
}

.list-view .view_item:last-child{
	margin-bottom: 0;
}

.list-view .view_item .vi_left{
	margin-right: 25px;
}

.view_item .Manufacturer{
	font-weight: 600;
    font-size: 20px;
}

.view_item .Model{
	font-weight: 500;
    font-size: 16px;
}

.view_item .DailyFare{
	font-weight: 400;
    font-size: 14px;
}

.view_item .FromTo{
	font-weight: 300;
    font-size: 12px;
    margin-bottom: 15px;
}




.view_item a{
	width: 80px;
	background: #4abd3e;
	padding: 10px 50px;
   	margin: 20px;
    
	border-radius: 3px;
	color: #fff;
	text-align: center;
	font-weight: 200;
	cursor: pointer;
}

.view_item .btn:hover{
	background: #3bd62b;
}

.grid-view{
	width: 100%;
}

.grid-view .view_item {
	display: inline-block;
    border: 1px solid #e2efe1;
    width: 230px;
    padding: 25px;
    text-align: center;
    margin: 10px;
}

.grid-view .view_item .vi_left{
	margin-bottom: 10px;
}

.grid-view .view_item .btn{
	margin: 0 auto;
}

/* navbar-style */
.main-style{
	width: 100%;
	height: 10rem;
	display: grid;
	grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px;
}
.logo-style{
	display: grid;
	grid-column: 2/3;
	justify-content: start;
	align-items: center;
}
.menu-style{
	grid-column: 3/5;
}
.tab-style{
	height: 10rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.title-style{
	font-size: 2.5rem;
	font-weight: 400;
	text-transform: uppercase;
}
span{
	font-size: 3.5rem;
}
li{
	font-size: 1.8rem;
}
li a{
	text-transform: capitalize;
	color: rgba(0, 0, 3, 0.8);
	transition: 0.5s;
}


.title-style{
	font-size: 2.5rem;
	font-weight: 400;
	text-transform: uppercase;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
  }
  
  html {
    font-size: 62.5%;
    /* 1rem = 10px */
    /* overflow-x: hidden; */
  }
  
  body {
    overflow-x: hidden;
  }
  
  .header {
    padding: 0 4.8rem;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px;
  }
  
  .header .logo {
    height: 3rem;
  }
  
  .navbar-list {
    display: flex;
    gap: 4.8rem;
    list-style: none;
  }
  
  .navbar-link:link,
  .navbar-link:visited {
    display: inline-block;
   /* text-transform: uppercase;*/
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: #212529;
    transition: all 0.3s;
  }
  
  .navbar-link:hover,
  .navbar-link:active {
    color: #364fc7;
  }
  
  .mobile-navbar-btn {
    display: none;
    background: transparent;
    cursor: pointer;
  }
  
  .mobile-nav-icon {
    width: 4rem;
    height: 4rem;
    color: #212529;
  }
  
  .mobile-nav-icon[name="close-outline"] {
    display: none;
  }
  
  /* 980px  */
  @media (max-width: 62em) {
    .mobile-navbar-btn {
      display: block;
      z-index: 999;
      border: 3px solid #212529;
      color: #212529;
    }
  
    .header {
      position: relative;
    }
  
    .header .logo {
      width: 40%;
    }
  
    .navbar {
      /* display: none; */
      width: 100%;
      height: 100vh;
      background: #e7f5ff;
      position: absolute;
      top: 0;
      left: 0;
  
      display: flex;
      justify-content: center;
      align-items: center;
  
      /* to get the tranisition  */
      transform: translateX(100%);
      transition: all 0.5s linear;
  
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  
    .navbar-list {
      flex-direction: column;
      align-items: center;
    }
  
    .active .navbar {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  
    .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
      display: block;
    }
  
    .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
      display: none;
    }
  }
  
  /* Below 560px  */
  @media (max-width: 35em) {
    .header {
      padding: 0 2.4rem;
    }
  }

  /* navbar-style-end */
  
    #main_wrapper{
  min-height: 100%;
  margin: 4rem;
  font-size: 1.5rem;
}

.wrapper
{
	width:98%;
	margin:0 auto;	
}

#maincontent
{
	margin:12px 0 0 0;
	line-height:20px;
}

.contentainer
{
	border:1px solid #e0e0e0;
	margin-bottom:14px;
}

.page-header
{
	background:url(../images/header-bg.jpg) repeat-x;
	line-height:41px;
	padding:0 0 0 10px;
	color:#474747;
	font-size:20px;
}

.content-box
{
	padding:10px;	
}
.content-box td{ 
	padding:4px;
	border:1px solid #e0e0e0;
}