.main-style{
	width: 100%;
	height: 10rem;
	display: grid;
	grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px;
}
.logo-style{
	display: grid;
	grid-column: 2/3;
	justify-content: start;
	align-items: center;
}
.menu-style{
	grid-column: 3/5;
}
.tab-style{
	height: 10rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.title-style{
	font-size: 2.5rem;
	font-weight: 400;
	text-transform: uppercase;
}
span{
	font-size: 3.5rem;
}
li{
	font-size: 1.8rem;
}
li a{
	text-transform: capitalize;
	color: rgba(0, 0, 3, 0.8);
	transition: 0.5s;
}
