@charset "ISO-8859-1";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
html{
	font-size: 62.5%;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}

.Rent{
	background: cyan;
    height: 100px;
    width: 50%;
    position: relative;
    color: black;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding:2rem;
    margin: 20px;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    size: 3rem;
    margin-top:12rem;
    border-radius: 10px 10px 10px 10px;
    box-sizing: content-box;
}
.Rent .search{
	background: #03a310;
    margin: 10px;
    height: 3rem;
    text-align: center;
    font-size: 20px;
    border-radius: rectangle;
    width: 15rem;
    border: none;
}
.Rent .search:hover{
	cursor: pointer;
    color:white;
    transition: .2s;
}

.middle{
	padding-top: 5rem;
	padding-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    gap: 1.5rem;
    height: 30rem;
    color: white;
	margin: 2rem;
}

.middle .feature{
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 2rem;
	background: gray;
	box-shadow: gray;
	font-size: 15px;
}

.vehicle{
	/* align-content: center; */
    width: 75%;
    /* text-align: center; */
    /* align-content: center; */
    left: 14%;
    position: relative;
}	
	
}

.vehicle .vehicle-slider{
    padding-bottom: 5rem;
}

.heading{
	text-align: center;
	padding-bottom: 5rem;
}

.vehicle .vehicle-slider .box{
    text-align: center; 
    
}

.vehicle .vehicle-slider .box img{
    width: 100%;
    /* opacity: 0.5;
    transform :scale(.8); */
}

.vehicle .vehicle-slider .box .content{
    padding-top: 1rem;
    padding-bottom: 8rem;
}

.vehicle .vehicle-slider .box .content h3{
    font-size: 2.5rem;
    color: black;
}

.vehicle .vehicle-slider .box .content p{
    font-size:1.6rem;
    padding: 1.3rem ;
    padding-top: 1.5rem;
    border-top: 1rem solid rgba(0,0,0,.1);
    color: black;
}
